
<!-- <div class="container"> -->
  <!-- Educacion -->
<!-- </div> -->

<!-- <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/ '> -->


<div class="container">
	<div class="card">
		<div class="box">
			<div class="content">
				<i class="fab fa-python"></i>
				<h3>Python</h3>
				<p>Python is an interpreted high-level general-purpose programming language.Its design philosophy emphasizes code readability with its use of significant indentation.</p>
				<a href="#">Read More</a>
			</div>
		</div>
	</div>
	<div class="card">
		<div class="box">
			<div class="content">
				<i class="fab fa-java"></i>
				<h3>Java</h3>
				<p>Java is a high-level, class-based, object-oriented programming language that is designed to have as few implementation dependencies as possible.</p>
				<a href="#">Read More</a>
			</div>
		</div>
	</div>
	<div class="card">
		<div class="box">
			<div class="content">
				<i class="fab fa-js-square"></i>
				<h3>JavaScript</h3>
				<p>JavaScript is high-level, often just-in-time compiled, and multi-paradigm. It has curly-bracket syntax, prototype-based object-orientation, and first-class functions.</p>
				<a href="#">Read More</a>
			</div>
		</div>
	</div>
	<!-- icon a colores css -->
	<div class="card">
		<div class="box">
			<div class="content">
				<i class="fab fa-html5"></i>
				<h3>HTML5</h3>
				<p>HTML5 is the fifth and current version of the HTML standard. It is based on the WHATWG HTML standard.</p>
				<a href="#">Read More</a>
			</div>
		</div>
	</div>


		<!-- icol css colores -->
		<div class="card">
		<div class="box">
			<div class="content">
				<i class="fab fa-css3-alt"></i>
				<h3>CSS3</h3>
				<p>CSS3 is the latest version of the CSS standard. It is based on the W3C CSS standard.</p>
				<a href="#">Read More</a>
			</div>
		</div>
	</div>

		<!-- icon a colores typescrip -->
		<div class="card">
		<div class="box">
			<div class="content">
				<i class="fab fa-angular"></i>
				<h3>Angular</h3>
				<p>Angular is a platform for building mobile and desktop web applications. AngularJS is a JavaScript framework for building single-page applications.</p>
				<a href="#">Read More</a>
			</div>
		</div>
	</div>
		<!-- icon a colores nodejs -->
		<div class="card">
		<div class="box">
			<div class="content">
				<i class="fab fa-node-js"></i>
				<h3>NodeJS</h3>
				<p>Node.js is a JavaScript runtime built on Chrome's V8 JavaScript engine. Node.js uses an event-driven, non-blocking I/O model that makes it lightweight and efficient. Node.js' package ecosystem, npm, is the largest ecosystem of open source libraries in the world.</p>
				<a href="#">Read More</a>
			</div>
		</div>
	</div>
			<!-- icon a colores mysql -->
		<div class="card">
		<div class="box">
			<div class="content">
				<i class="fas fa-database"></i>
				<h3>MySQL</h3>
				<p>MySQL is a relational database management system (RDBMS) that is used to store and manage data. It is a widely used open source database management system.</p>
				<a href="#">Read More</a>
			</div>
		</div>
	</div>

	  <!-- Typescrip , Html , Css , Angular , Angular Material , Mongo , Nodejs , Mysql ,  -->
		<!-- icon mongo -->
		<div class="card">
		<div class="box">
			<div class="content">
				<i class="fas fa-database"></i>
				<h3>MongoDB</h3>
				<p>MongoDB is a NoSQL database that uses JSON-like documents with schemas. It is a document-oriented database and is a member of the MongoDB family of products.</p>
				<a href="#">Read More</a>
			</div>
		</div>
	</div>



</div>


