@import url("https://fonts.googleapis.com/css2?family=Righteous&display=swap");

.container{
  display: flex;
  width: 100vw;
  height: 100vh;
  max-width: 100vw;
  flex-wrap: wrap;
  padding: 40px 0;
  justify-content: center;
}

* {
  font-family: "Righteous", cursive;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container .card {
  position: relative;
  width: 320px;
  height: 440px;
  box-shadow: inset 5px 5px 5px rgba(0, 0, 0, 0.05), inset -5px -5px 5px rgba(255, 255, 255, 0.5), 5px 5px 5px rgba(0, 0, 0, 0.05), -5px -5px 5px rgba(255, 255, 255, 0.5);
  border-radius: 15px;
  margin: 30px;
}
.container .card .box {
  position: absolute;
  top: 20px;
  right: 20px;
  bottom: 20px;
  left: 20px;
  background: #fff9ed;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.5s;
}
.container .card .box .content {
  padding: 20px;
  text-align: center;
}
.container .card .box .content .fab {
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: clamp(55px, 10vw, 65px);
  pointer-events: none;
}
.container .card .box .content .fa-python {
  background: #0073a3;
  background: linear-gradient(90deg, #0073a3 0%, #ffd229 100%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  /* text-fill-color: transparent; */
}
.container .card .box .content .fa-java {
  background: red;
  background: linear-gradient(90deg, red 0%, #7d6c82 70%, #00d4ff 100%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  /* text-fill-color: transparent; */
}
.container .card .box .content .fa-js-square {
  background-color: #fbda61;
  background-image: linear-gradient(45deg, #fbda61 0%, #ff5acd 100%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  /* text-fill-color: transparent; */
}
.container .card .box .content .fa-html5 {
  background-color: #e34f26;
  background-image: linear-gradient(45deg, #e34f26 0%, #f9a825 100%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  /* text-fill-color: transparent; */
}
/* angular */
.container .card .box .content .fa-angular {
  background-color: #eacf4c;
  background-image: linear-gradient(45deg, #eacf4c 0%, #5dd5c4 100%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  /* text-fill-color: transparent; */
}
/* nodejs */
.container .card .box .content .fa-node-js {
  background-color: #7fdbff;
  background-image: linear-gradient(45deg, #7fdbff 0%, #ebf8ff 100%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  /* text-fill-color: transparent; */
}
/* css */
.container .card .box .content .fa-css3-alt {
  background-color: #2472c8;
  background-image: linear-gradient(45deg, #2472c8 0%, #7027c8 100%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  /* text-fill-color: transparent; */
}
/* mysql */
/* .container .card .box .content .fa-database {
  background-color: #ffc107;
  background-image: linear-gradient(45deg, #ffc107 0%, #ffd54f 100%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  /* text-fill-color: transparent; /
} */
.container .card .box .content .fa-database {
  background-color: #28782c;
  background-image: linear-gradient(45deg, #087d25 0%, #036328 100%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  /* text-fill-color: transparent; */
  /* tamanio */
  font-size: clamp(55px, 10vw, 65px);

}

.container .card .box .content h3 {
  font-size: 1.8em;
  color: #777;
  z-index: 1;
  transition: 0.5s;
}
.container .card .box .content p {
  font-size: 1em;
  color: #777;
  z-index: 1;
  transition: 0.5s;
}
.container .card .box .content a {
  position: relative;
  display: inline-block;
  padding: 8px 20px;
  background: #409eff;
  margin-top: 15px;
  border-radius: 20px;
  color: #fff;
  text-decoration: none;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
}
.container .card:hover .box .content a {
  background: #ff4049;
}

.container .card:hover .box {
  transform: translateY(-50px);
  box-shadow: 0 10px 40px rgba(0, 0, 0, 0.4);
  background: linear-gradient(45deg, #b95ce4, #4f29cd);
}

.container .card:hover .box .content h3,
.container .card:hover .box .content p {
  color: #fff;
}






/* Dark Mode styles */
/* body.dark-theme {
  background: #232427;
}
body.dark-theme .card {
  box-shadow: inset 5px 5px 5px rgba(0, 0, 0, 0.2), inset -5px -5px 15px rgba(255, 255, 255, 0.1), 5px 5px 15px rgba(0, 0, 0, 0.3), -5px -5px 15px rgba(255, 255, 255, 0.1);
}
body.dark-theme .card .box {
  background: #2a2b2f;
  box-shadow: 0 20px 50px rgba(0, 0, 0, 0.5);
}
body.dark-theme .card .box .content h3 {
  color: rgba(255, 255, 255, 0.9);
}
body.dark-theme .card .box .content p {
  color: rgba(255, 255, 255, 0.9);
}
body.dark-theme .card .box .content a {
  background: #000;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}
body.dark-theme .container .card:nth-child(1) .box .content a {
  background: #ff0000;
}
body.dark-theme .container .card:nth-child(2) .box .content a {
  background: #ba00ec;
}
body.dark-theme .container .card:nth-child(3) .box .content a {
  background: #4158d0;
}
body.dark-theme .container .card:hover .box {
  background-color: #4158d0;
  background-image: linear-gradient(43deg, #ffcc70 0%, #c850c0 46%, #4158d0 100%);
} */

/*Checkbox Button*/
/* .center {
  position: absolute;
  top: 3%;
  right: 3%;
}
.center input[type=checkbox] {
  position: relative;
  width: 80px;
  height: 30px;
  -webkit-appearance: none;
  background: #111;
  outline: none;
  cursor: pointer;
  border-radius: 20px;
  box-shadow: 0 0 0 2px #1f1f1f, inset -2px -2px 5px rgba(255, 255, 255, 0.1), inset 2px 2px 5px rgba(0, 0, 0, 0.5);
  transition: 0.5s;
}
.center input:checked[type=checkbox] {
  background: #00c9ff;
  box-shadow: 0 0 0 2px #1f1f1f, 0 10px 20px rgba(0, 0, 0, 0.5), inset 0 0 5px black, inset 0 0 15px rgba(0, 0, 0, 0.5);
}
.center input[type=checkbox]:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 60px;
  height: 30px;
  background: linear-gradient(to top, #000, #6b6b6b);
  border-radius: 20px;
  box-shadow: 0 0 0 1px #232323;
  transform: scale(0.98, 0.96);
  transition: 0.5s;
}
.center input:checked[type=checkbox]:before {
  left: 20px;
}
.center input[type=checkbox]:after {
  content: "";
  position: absolute;
  top: calc(50% - 2px);
  left: 45px;
  width: 4px;
  height: 4px;
  background: #ff0000;
  box-shadow: 0 0 5px #ff0000, 0 0 15px #ff0000, 0 0 30px #ff0000;
  border-radius: 50%;
  transition: 0.5s;
}
.center input:checked[type=checkbox]:after {
  background: #00c9ff;
  left: 65px;
  box-shadow: 0 0 3px #00c9ff, 0 0 9px #00c9ff, 0 0 27px #00c9ff;
} */
/*
  <!-- Typescrip , Html , Css , Angular , Angular Material , Mongo , Nodejs , Mysql ,  -->
	<!-- icon para css -->
	<!-- <div class="card">
		<div class="box">
			<div class="content">
				<i class="fab fa-css3-alt"></i>
				<h3>CSS</h3>
				<p>CSS is a language that describes how HTML elements are to be displayed on screen, paper, or in other media.</p>
				<a href="#">Read More</a>
			</div>
		</div>
		<!- Html ->
	<div class="card">
		<div class="box">
			<div class="content">
				<i class="fab fa-html5"></i>
				<h3>HTML</h3>
				<p>HTML is the standard markup language for creating Web pages.</p>
				<a href="#">Read More</a>
			</div>
		</div>
	</div>
		<!- Typescript->
	<div class="card">
		<div class="box">
			<div class="content">
				<i class="fab fa-angular"></i>
				<h3>Typescript</h3>
				<p>Typescript is a superset of JavaScript that compiles to plain JavaScript.</p>
				<a href="#">Read More</a>
			</div>
		</div>
	</div>
			Angular -->
	 */