<div class="container">

    <form (submit)="addTask(newTitle, newDescription ,newApellido,newEmail,newCelular,newFecha,newHora)" class="formulario">

        <label for="title">Nombre</label>
        <input type="text" placeholder="Nombres" #newTitle  required id="title">
        <br>
    
        <label for="apellido">apellido</label>
        <input type="text" placeholder="Apellidos" #newApellido  required id="apellido" ><br>
    
        <label for="email">Correo</label>
        <input type="email" placeholder="Email" #newEmail  required id="email">
    
        <label for="celular">Celular</label>
        <input type="text" placeholder="celular" #newCelular  required id="celular"><br>
    
        <label for="fecha">Fecha</label>
        <input type="date" placeholder="fecha" #newFecha  required id="fecha"><br>
    
        <label for="hora">Hora</label>
        <input type="time" placeholder="hora" #newHora  required name="hora"><br>

        <textarea #newDescription cols="30" rows="10"  placeholder="Descripcion" required></textarea>

        <button type="submit" class="button" >Enviar</button>
    </form>
  </div>
