.container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
  width: 50vw;
  height: 100vh;
  ;
}

.formulario{
  display: flex;
  flex-direction: column;
  align-content: space-around;
  align-items: center;
  width: 80%;
  height: 70vh;
}
