<div class="container">
   <!-- educacion -->
   <main class="page-content">
    <div class="card">
      <div class="content">
        <h2 class="title">Col.Bella Vista</h2>
        <p class="copy">Finalizada en 2020 Bachiller </p>
        <!-- <button class="btn">View Trips</button> -->
      </div>
    </div>
    <div class="card">
      <div class="content">
        <h2 class="title">Universidad Mayor de San simón</h2>
        <p class="copy">Ing. Sistemas 2021-Actualidad</p>
        <button class="btn">View Trips</button>
      </div>
    </div>
    <div class="card">
      <div class="content">
        <h2 class="title">Solaning</h2>
        <p class="copy">Programa de desarrollo web de aplicaciones 2021-Actualidad</p>
        <!-- <button class="btn">Book Now</button> -->
      </div>
    </div>
    <div class="card">
      <div class="content">
        <h2 class="title">-Universidad Mayor de San simón</h2>
        <p class="copy">Certificado en curso de Office En Word, PowerPoint, Excel</p>
        <!-- <button class="btn">Book Now</button> -->
      </div>
    </div>
    <div class="card">
      <div class="content">
        <h2 class="title"> Solaning </h2>
        <p class="copy">Macros</p>
        <!-- <button class="btn">Book Now</button> -->
      </div>
    </div>
  </main>

</div>