<div class="container">


<header>
  <!-- <h2 class="name">Ariel Zane</h2> -->
</header>
<body>
  <img id="foto" src="https://curriculum-ever.netlify.app/fot.jpg" alt="Imagen de perfil" width="200" />
  <br>
  <h2 class="link">Ever Mamani Vicente</h2>
  <br>
  <br>
  <ul>
    <li><label class="date">Fecha de nacimiento|</label>30/12/2002</li>
    <li><label class="date">Direccion|</label> Bella Vista /Quillaco / Cochabamba </li>
    <li><label class="date">Estado civil|</label> Soltero</li>
  </ul>
  <br />
  <h2 class="link">EXPERIENCIA LABORAL  </h2>
  <ul>
    <li>
      <label class="date">2020 - 2021|</label> -Auxiliar de docente , duración medio <br> año de programación orientada a objetos en JAVA
    </li>
    <!-- <li>
      <label class="date">2015-2020|</label> EET 8235 Ing Enrique B Goamara
      - Tecnico Eletronico
    </li>
    <li>
      <label class="date">En curso|</label> RollingCode School - Fullstack Developer
    </li> -->
  </ul>
  <br />
  <h2 class="link">IDIOMA</h2>
  <ul>
    <li>
      <label class="date">Ingles-basico|</label> Español-nativo
    </li>
  </ul>
</body>
<footer>
  <a title="Instagram" href="https://www.instagram.com/arielzane/?hl=es-la"
    ><img src="https://i.ibb.co/mG1Rnc6/instagram.png" alt="Instragram" 
  /></a>
  <a title="Facebook" href="https://www.facebook.com/ari.canalla2"
    ><img src="https://i.ibb.co/WvLNDkF/facebook.png" alt="Facebook" 
  /></a>
  <a title="WhatsApp" href="https://wa.me/543413858070"
    ><img src="https://i.ibb.co/MVRr0Rv/whatsapp.png" alt="WhatsApp" 
  /></a>
  <a title="Twitter" href="https://twitter.com/Ariel_Zane"
    ><img src="https://i.ibb.co/zNb64ct/twitter.png" alt="Twitter" 
  /></a>
</footer>

</div>
