.container{
  display: flex;
  flex-direction: column;
  align-items: center;
  
  width: 100vw;
  height: 100vh;

}
* {
  margin: 0px;
}
header {
  background-color: rgb(20, 20, 20);
}
.container {
  background-color: rgb(0, 0, 0);
  text-align: center;
  color: rgb(141, 141, 141);
  font-family: "Courier New", Courier, monospace;
  /* background-image: url(https://i.ibb.co/PrDtxJ9/background.png); */
  background-repeat: repeat;
  
}
h2 {
  color: rgb(255, 255, 255);
  top: 10px;
  /* tamano de la letra  */
  font-size: clamp(10px, 10vw, 30px);
  /* fuente */
}
ul{
  margin: 10px 30px 30px 30px;
}
.name {
  color: rgb(255, 255, 255);
  font-size: 80px;
}
.date {
  color: rgb(255, 255, 255);
  font-size: 15px;
  font-weight: 900;
}
footer {
  background-color: rgb(20, 20, 20);
}

.link{
  align-items: center;
  display: inline-block;
  margin-block: 2px;
  text-decoration: none;
  color: rgb(255, 255, 255);
  position: relative;
}

.link::after{
  content: '';
  width: 100%;
  height: 1px;
  background-color: rgb(255, 255, 255);
  border-radius: 4px;
  position: absolute;
  left: 0;
  bottom: 0;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform .25s ease;
}

.link:hover::after{
  transform: scaleX(1);
}

img {
 width: 40px;
}

/* img:hover{
  
} */

#foto {
  margin-top: 90px;
  border-radius: 1000px;
  border-color: rgb(20, 20, 20);
  border-style: groove;
  border-width: 20px;
  width: 100px;
}
