.container{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-content: center;
  align-items: center;

  width: 100vw;
  height: 100vh;
}

.navbar{
  position: fixed;
  z-index: 10;

  width: 100vw;
  height: 10vh;
}

.contenido{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: center;
  align-items: center;

  width: 100vw;
  height: 100vh;
}

app-redes{
  position: fixed;
  margin-top: 20vh;
  z-index: 10;
  width: 10%;
  height: 100%;
}

router-outlet{
  width: 90%;
  height: 100%;
}

