
.container{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-content: space-around;
  align-items: center;
}


.button{
  background: #e0e0e0;
  border-radius: 106px;
  box-shadow:  5px 5px 19px #bebebe,
               -5px -5px 19px #ffffff;
 }

 .description{
  font-size: 1.5em;
  font-weight: bold;
  color: #000000;
  background: #e0e0e0;
  border-radius: 106px;
  box-shadow:  5px 5px 19px #bebebe,
               -5px -5px 19px #ffffff;
 }

 .lista{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-content: space-around;
  align-items: center;
 }