<div class="container">
  <header class="header">
    <div class="sobreMi">
      <a [routerLink]="['sobreMi']">Sobre mi</a>
      <!-- <a [routerLink]="['sobreMi']"> </a>      -->
    </div>
    <nav>
       <ul class="nav-links">
        <li> <a [routerLink]="['servicios']">Servicios</a></li>
        <li> <a [routerLink]="['curriculum']">Conocimientos</a></li>
        <li> <a [routerLink]="['contacto']">Educacion</a></li>
       </ul>            
    </nav>
    <a class="btn"  [routerLink]="['agenda']"><button>contacto</button></a>
  </header>
</div>
